.hero {
  background-color: #000;
  color: #fff;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 44px;
}

.content h1 {
  font-size: 80px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 600;
}

.tagline {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 12px;
}

.description {
  font-size: 19px;
  color: #a1a1a6;
  max-width: 600px;
  margin: 0 auto 30px;
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content h1 { font-size: 48px; }
  .tagline { font-size: 21px; }
  .hero { height: 80vh; }
}
